@use "../styles/utilities/variables" as v;

.aboutMe {
  @include v.headline-medium;
  display: grid;
  grid-template-columns: 8fr 1fr;
  min-height: 100%;
  gap: 5%;
  justify-content: center;
}
.aboutMe p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

.aboutMe ul {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

.imageAboutme {
  position: relative;
}

.imgMe {
  position: relative;
  border-radius: 30%;
  height: 20rem;
  margin-right: 0;
  margin-bottom: 20px;
  mix-blend-mode: multiply;
}

.imgMe:hover {
  mix-blend-mode: soft-light;
  transform: translateY(10%);
  transition:
    all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

@media screen and (max-width: 768px) {
  .aboutMe {
    grid-template-columns: 1fr;
  }

  .imgMe {
    height: 15rem;
  }
}
