@use "../styles/utilities/variables" as v;

.main {
  padding: 70px 150px 60px 200px;
  height: 100%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 780px) {
  .main {
    padding: 10px 35px;
    height: 100%;
    margin-bottom: 90px;
  }
}
