@use "../styles/utilities/variables" as v;

.skills {
  @include v.headline-medium;
  justify-content: center;
}

.skills_inner {
  display: block;
}

.skills_inner path {
  font-size: 1.2rem;
}

i {
  font-size: 3rem;
}

.skillsLine {
  text-align: center;
  margin-top: 3rem;
}

.icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.skill_box {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 200px;
  background-color: v.$color-on-secondary-text;
  padding: 1rem;
  color: v.$color-primary-background;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.skill_barSpan {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  z-index: 3;
}

.skill_box i {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.skill_box p {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.bar_container {
  width: 100%;
  max-width: 150px;
  margin-top: auto;
  .progressbar_container {
    position: relative;
    width: 100%;
    height: 20px;
    border: 1px solid v.$color-on-primary-heading-text;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .progressbar_complete {
      position: absolute;
      left: 0;
      top: 0;
      height: 90%;
      background-color: v.$color-primary-background;
      border-radius: 10px;
      animation: g 2500ms infinite ease-in-out;
      z-index: 2;

      .progressbar_liquid {
        z-index: -1;
        width: 90px;
        height: 90px;
        animation:
          g 4000ms infinite ease-in-out,
          r 5000ms infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
        position: absolute;
        right: -5px;
        top: -20px;
        background-color: v.$color-primary-background;
        border-radius: 40%;
      }
    }

    .progress {
      z-index: -1;
    }
  }
}

@keyframes g {
  0% {
    background-color: v.$color-primary-background;
  }
  50% {
    background-color: #607e9e;
  }
  100% {
    background-color: v.$color-primary-background;
  }
}

@keyframes r {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .skills_group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
    justify-items: center;
  }
}

@media screen and (min-width: 701px) and (max-width: 999px) {
  .skills_group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .skills_group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
}
