@use "../../styles/utilities/variables" as v;

.categories {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  flex-wrap: wrap;
  height: 30vh;
}

.category {
  width: 40%;
  padding: 30px;
  background-color: v.$color-on-secondary-text;
  color: v.$color-on-primary-heading-text;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition:
    background-color 0.3s,
    transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.category:hover {
  background-color: v.$color-secondary-background;
  color: v.$color-on-primary-text;
  transform: translateY(-5px);
}

.category h3 {
  margin-bottom: 15px;
}

.category p {
  color: v.$color-primary-background;
}

/* Responsive Adjustments */

/* For tablets and small desktops */
@media (max-width: 1024px) {
  .category {
    width: 50%;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .categories {
    flex-direction: column;
    align-items: center;
  }

  .category {
    width: 80%;
  }
}

/* For very small mobile devices */
@media (max-width: 480px) {
  .categories {
    flex-direction: column;
    align-items: center;
  }

  .category {
    width: 100%;
    padding: 20px;
  }

  .category h3 {
    font-size: 1.2rem;
  }

  .category p {
    font-size: 1rem;
  }
}
