@use "../../../src/utilities/variables/" as v;

.header_container {
  position: sticky;
  top: 0;
}

.header {
  width: 100%;
  background-color: v.$color-primary-background;
  top: 0;
  display: flex;
  height: 105px;
  justify-content: space-between;
  align-items: center;
}

.hoverable {
  width: 80px;
}

.logo {
  margin: 10px;
  margin-left: 30px;
  width: 100%;
}

.socialMedia {
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 2;
  writing-mode: vertical-rl;
  text-align: center;
  display: flex;
  list-style-type: none;
}

.social_icons {
  padding: 5px;
  width: 30px;
  vertical-align: middle;
  max-height: 30px;
  margin: 3px;
  max-width: 160px;
  transition-duration: 1s;
}

.social_icons:hover {
  transform: rotate(360deg);
}

/* --------Side Email--------- */

.eMailContainer {
  width: 40px;
  position: fixed;
  bottom: 100px;
  left: 30px;
  right: auto;
  z-index: 10;
  color: var(--secondary-text-color);
}

.eMail {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font);
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.4em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
}

.emailBox:after,
.emailBox:before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 19em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.emailBox:before {
  border-left: 1px solid v.$color-on-primary-text;
  border-right: 1px solid v.$color-on-primary-text;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

.emailBox:hover:after,
.emailBox:hover:before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

// Scroll style

.header_bg {
  background-color: v.$color-outline-dark;
  top: 0;
  display: flex;
  height: 90px;
  justify-content: space-between;

  color: v.$color-primary-background;
}

@media only screen and (max-device-width: 480px) {
  .eMail {
    margin: 10px auto;
    padding: 10px;
    letter-spacing: 0.4em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
  }
}
