@use "../../src/utilities/variables/" as v;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");

.card {
  @include v.title-large;
  margin: 10px;
  min-width: 50px;
  height: 350px;
  background-color: v.$color-on-primary-heading-text;
  padding: 1.8rem;
  justify-content: center;
  align-items: center;
  color: v.$color-primary-background;
  box-shadow: 0 1px 3px v.$color-on-secondary-text,
    0 1px 2px v.$color-on-primary-text;
}

.card:hover {
  transform: translateY(-3%);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  box-shadow: v.$color-on-secondary-text 0px 13px 47px -5px,
    v.$color-on-primary-text 0px 8px 16px -8px;
}

.card_header {
  display: block;
  width: 100%;
  min-height: 80%;
}

.card_top {
  display: flex;
  justify-content: space-between;
}
.project_links {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.project_links a:hover {
  color: v.$color-on-primary-text;
}

.project_title:hover {
  color: v.$color-on-primary-text;
}

.project_title {
  cursor: pointer;
}

.project_description {
  font-size: 1rem;
  line-height: 1.2;
}
.card_footer {
  display: flex;
  width: 100%;
  box-sizing: inherit;
}

.project_tech_list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px;
  margin: 20px 0px 0px;
}

.project_tech_list li {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  line-height: 1.75;
  margin-right: 10px;
}
