@use "../src/utilities/variables/" as v;

.App {
  background-color: v.$color-primary-background;
  color: v.$color-on-secondary-text;
}

h2 {
  color: v.$color-on-primary-heading-text;
}

span {
  color: v.$color-on-primary-text;
}

p {
  font-size: 0.7em;
}
