@use "../../../src/utilities/variables/" as v;

.heading {
  @include v.display-small;
  height: 100vh;
  overflow: hidden;
  background-color: v.$color-primary-background;
}

.welcomeText {
  margin: 0px;
  padding: 0px;
  color: v.$color-on-primary-heading-text;
  font-size: 2em;
}
.welcomeMessage {
  margin-top: 40px;
  padding: 0px;
  color: v.$color-on-secondary-text;
  font-size: 1.5em;
  line-height: 1.3;
}

.student {
  color: v.$color-on-secondary-text;
  width: 70%;
  padding: 0px;
  font-size: 1.2rem;
  line-height: 1.3;
}

.contact_button {
  background-color: #ffffff00;
  border: solid 1px;
  border-color: v.$color-on-primary-text;
  border-radius: 5px;
  margin: 30px 10px 30px;
  padding: 10px 32px;
  color: v.$color-on-primary-text;
  cursor: pointer;
  font-size: 0.5em;
}
